<div class="table">
    <div class="header">
      <div>
        <img src="../assets/leghomerseklet.png" alt="leghomerseklet">
      </div>
      <div>
        <h1>Léghőmérséklet</h1>
      </div>
      <div>
        <p id="currentTime">{{ currentTime | date:'HH:mm'}}</p>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th id="place">
            Helyszín
          </th>
          <th id="first">
            Léghőmérésklet <br /> <span>[°]</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let platform of displayedPlatforms; let i = index">
          <div class="marquee" [style.width.px]="getMarqueeWidth()">
            <div class="marquee-block">
              <div class="spans" [ngClass]="{'to-left': platform.name.length > 13}">
                <span>
                  <td>{{ platform.name }}</td>
                </span>
                <span>
                  <td>{{ platform.name }}</td>
                </span>
              </div>
            </div>
          </div>
            <td>{{ platform.leghomerseklet }}</td>
        </tr>
      </tbody>
    </table>
  </div>